# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macOS-latest
    
    strategy:
      matrix:
        destination: ['platform=iOS Simulator, OS=3.7, name=iPhone 11']

    steps:
      - uses: actions/checkout@v2

      - name: Build and Test
        run: |
          xcodebuild clean test -project TestingGithubActions.xcodeproj -scheme TestingGithubActions -destination "${destination}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
        bash <(curl -s https://codecov.io/bash)
        env: 
          destination: ${{matrix.destination}}

     
